{{>_nav}}
<div class="container mt-4">

    <style>
        
        label{
            margin-top: 3px;
        }

        div#color{
            background-color: #303030;
            color: white;
        }

        div#margin{
            background-color: black;
        }

        div#msgdanger{
            background-color: #484848;
            color: rgb(228, 93, 172);
            font-size: 15pt;
            text-align: center;
            margin-bottom: -15px;
            margin-top: -22px;
        }

        div#msg{
            text-align: center;
        }

        div#msg a{
            background-color: #484848;
            color: rgb(93, 228, 172);
            font-size: 15pt;
        }

    </style>


    <div class="card-body" id="msgdanger">
        <p>The account verification can take 45 seconds after clicking on register button</p>
    </div>

    {{#each erros}}
        <div class="alert alert-danger">
            {{text}}
        </div>
    {{else}}
    {{/each}}

    <div class="card" id="margin">
        <div class="card-body" id="color">
            <form action="/register" method="POST">
                <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control" required>
                <label for="ign">In Game Name: </label>
                    <input type="text" name="ign" class="form-control" required>
                <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" required>
                <label for="confirmP">Confirm Password: </label>
                    <input type="password" name="confirmP" class="form-control" required>
                <label for="verifyhash">Realmeye Code: </label>
                    <input type="text" name="verifyhash" class="form-control" value="" id="verifyhash" readonly="readonly">
                <button type="submit" class="btn btn-success mt-3">Register</button>
            </form>
        </div>
    </div>

    <div class="card-body" id="msg">
        <a href="/register/info">How to register your account successfully</a>
    </div>
</div>

<script>
    const hash = Math.random() * 10000000000000000000
    document.getElementById('verifyhash').value = hash
</script>