{{>_nav}}

<style>

    label{
            margin-top: 3px;
    }

    div#color{
            background-color: #303030;
            color: white;
    }

    div#margin{
        margin-top: 35px;
        background-color: black;
    }

    div#a{
        text-align: center;
        margin-left: -25px ;
    }

    a#a{
        color: rgb(93, 228, 172);
    }

</style>
<div class="container mt-4">
    <div class="card" id="margin">
        <div class="card-body" id="color">
            <label for="">#1: </label>
                <textarea name="" id="" cols="30" rows="1" class="form-control" readonly="readonly">Register with a rotmg account with at least 10 stars</textarea>
            <label for="">#2.1: </label>
                <textarea name="" id="" cols="30" rows="1" class="form-control" readonly="readonly">Put the realmeye code in your profile description on www.realmeye.com</textarea>
            <label for="">#2.2: </label><br>
                <div id="a">
                    <a href="https://prnt.sc/std4r2" target="_blank" id="a">Print with demonstration</a><br>
                </div>
            <label for="">#3: </label>
                <textarea name="" id="" cols="30" rows="1" class="form-control" readonly="readonly">As soon as you put the code in your realmeye account wait 10 seconds</textarea>
            <label for="">#4: </label>
                <textarea name="" id="" cols="30" rows="1" class="form-control" readonly="readonly">Click register and wait (45 seconds) for us to verify the information</textarea>
            <button type="submit" class="btn btn-success mt-3" onclick="window.location.href='/register'">Return To Register</button>
        </div>
    </div>
</div>